
/* Vos styles existants continuent ci-dessous */
header, footer {
    color: white;
    padding: 5px 0;
    text-align: center;
}

.signup-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec transparence */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="tel"] {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.signup-form input:focus {
    border-color: #27379b;
    box-shadow: 0 0 5px #27379b;
    outline: none;
}
/* Ajout d'une image de fond avec flou */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/Repetiteurs/medias/wisdom-3071110_1280.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Applique un effet de flou */
    z-index: -1;
}

.signup-card {
    padding: 20px;
}

.signup-title {
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}

.signup-message {
    color: red;
    margin-bottom: 15px;
}

.signup-form .form-group {
    margin-bottom: 15px;
}

.signup-button {
    width: 25%;
    padding: 5px;
    background-color: #27379b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

.signup-button:hover {
    background-color: #27379b;
}

.signup-form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px #27379b;
    outline: none;
}
.signup-title i {
    margin-right: 8px; /* Espace entre l'icône et le texte */
    color: #27379b; /* Assurez-vous que la couleur correspond à votre style */
    font-size: 1.2em; /* Ajuste la taille de l'icône */
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}
