/* CSS spécifique à la page de connexion */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

/* Image de fond floue pour le container de connexion */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec transparence */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
}

/* Ajout d'une image de fond avec flou */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("{% static 'Repetiteurs/medias/wisdom-3071110_1280.jpg' %}");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Applique un effet de flou */
    z-index: -1;
}

/* Autres styles */
.login-card {
    padding: 20px;
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}

.login-message {
    color: red;
    margin-bottom: 15px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 22px);
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-button {
    width: 25%;
    padding: 5px;
    background-color: #27379b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

.login-button:hover {
    background-color: #27379b;
}

.login-form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px #27379b;
    outline: none;
}
.login-title i {
    margin-right: 8px; /* Espace entre l'icône et le texte */
    color: #27379b; /* Assurez-vous que la couleur correspond à votre style */
    font-size: 1.2em; /* Ajuste la taille de l'icône */
}

/* Ajout d'une image de fond avec flou */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/Repetiteurs/medias/wisdom-3071110_1280.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Applique un effet de flou */
    z-index: -1;
}
.btn:hover {
    background-color: #1e96fb;
  }