{% extends "Repetiteurs/page_de_base/base/base.html" %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "Repetiteurs/css/enseignants_details.css" %}">
<h2 style="text-align: center; margin-top: 15px;">{{ enseignants.nom }} {{ enseignants.prenom }}👩‍🏫</h2>
<div class="Profile_container">
    <!-- Profil de l'apprenant -->
    <div class="profile">
        <p><strong>Matières : </strong> {{ enseignants.matieres|default:"Non spécifiées" }}</p>
        <p><strong>Niveau : </strong> {{ enseignants.niveau|default:"Non spécifié" }}</p>      
        <p><strong> Année d'experiences : </strong> {{ enseignants.experiences|default:"Non spécifié" }}</p>
        <p><strong> Quartier de résidence : </strong> {{ enseignants.quartier|default:"Non spécifié" }}</p>
    </div>
    <!-- Formulaire pour envoyer un message -->
    <div class="message-form">
        <h3>Envoyer une demande</h3>
        <form action="" method="post">
            {% csrf_token %}
            <textarea name="message" rows="4" placeholder="Laissez un message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}
