{% load i18n %}{% autoescape off %}
{% blocktranslate %}Tu reçois cet email parce que tu as demandé une réinitialisation de mot de passe pour ton compte sur {{ site_name }}.{% endblocktranslate %}

{% translate "Clique sur le lien ci-dessous pour choisir un nouveau mot de passe :" %}

{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}

{% translate "Si tu n’as pas demandé cette réinitialisation, ignore ce message." %}

{% translate "Merci d'utiliser notre site !" %}

{% blocktranslate %}L'équipe {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
