{% extends "Repetiteurs/page_de_base/base/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "authentication/css/password_reset_confirm.css" %}">
<div class="password-reset-confirm-container">
    <div class="card">
        <h2>🔑 Réinitialiser votre mot de passe</h2>

        <!-- Affiche les messages d'erreur -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Formulaire de réinitialisation -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <span class="error-message">{{ field.errors }}</span>
                </div>
            {% endfor %}
            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
</div>
{% endblock %}