/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

/* Conteneur du formulaire */
.profile-form-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.9);
}

/* Titre du formulaire */
.profile-form-container h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Champ de formulaire */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* Style des inputs et selects */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f9fc;
    font-size: 14px;
}

/* Focus sur les champs */
input:focus, select:focus, textarea:focus {
    border-color: #0c00ec;
    outline: none;
    background-color: #f0f4ff;
}

/* Style du bouton de soumission */
.submit-button {
    width: 40%;
    padding: 13px;
    background-color: #1408f8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 145px;
}

.submit-button:hover {
    background-color: #1e96fb;
    border-radius: 30px;
}


/* Message d'erreur */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
